@font-face {
    font-family: titulos;
    src: url(/fuentes/IndieFlower-Regular.ttf);
}
@font-face {
    font-family: bangers;
    src: url(/fuentes/Bangers-Regular.ttf);
}

@font-face {
    font-family: testo;
    src: url(/fuentes/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: titulazo;
    src: url(/fuentes/LoveYaLikeASister-Regular.ttf);
}